---
layout: default
permalink: /blog/
---

{% include side-nav.html %}

<div class="container">
    {% for post in site.posts %}
        <article class="col s12 l4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="{{ post.image | prepend: site.image }}" alt="{{ post.title }}" class="responsive">
                </div>
                <div class="card-content">
                    Publicado: {{ post.author }}
                    Categoria: {{ post.category }}
                    Postado: <time datetime="{{ post.date }}">{{ post.date | date_to_string }}</time>
                </div>
                <div class="card-action">
                    <a href="{{ post.url | prepend: site.url }}" title="{{ post.title }}">
                        <h4 class="light">{{ post.title }}</h4>
                    </a>
                </div>
            </div>
        </article>
    {% endfor %}
</div>