<header>
    <div class="container">
        <ul id="side-nav" class="side-nav fixed">
            <li class="active">
                <a href="{{ site.github.url | prepend: site.url }}/"><i class="fa fa-home fa-fw"></i> <b>Início</b></a>
            </li>
            <li>
                <a href="#portfolio" title="Portfólio"><i class="fa fa-picture-o fa-fw"></i> <b>Portfólio</b></a>
            </li>
            <li>
                <a href="#servicos" title="Serviços"><i class="fa fa-suitcase fa-fw"></i> <b>Serviços</b></a>
            </li>
            <li>
                <a href="#precos" title="Tabela de preços"><i class="fa fa-money fa-fw"></i> <b>Preços</b></a>
            </li>
            <li>
                <a href="#sobre" title="Sobre mim"><i class="fa fa-user fa-fw"></i> <b>Sobre mim</b></a>
            </li>
            <li>
                <a href="{{ site.github.url | prepend: site.url }}/blog/" title="Meu blog"><i class="fa fa-bullhorn fa-fw"></i> <b>Blog</b></a>
            </li>
        </ul>
    </div>
</header>

<div class="page-header">
    <div class="container">
        <h1 class="light white-text hide-on-med-and-down">IZTech</h1>
        <img src="{{ site.github.url | prepend: site.url }}/assets/img/header/responsive.png" alt="responsividade" class="responsive-img">
        <h3 class="light white-text center-on-small-only">Desenvolvendo a web</h3>
    </div>
</div>