<header class="parallax-container">
    <div class="container">
        
        <h1 id="titulo" class="center-on-small-only">{{ site.title }}</h1>
        <h2 id="subtitulo" class="center-on-small-only">{{ site.description }}</h2>
        
        <div class="col s12 l4 right-align" style="padding-bottom: 50px;">
            <img src="{{ site.github.url | prepend: site.url }}/assets/img/header/responsive.png" alt="RWD" class="responsive-img">
        </div>
    </div>
    
    <div class="parallax"><img src="assets/img/parallax/window.jpg"></div>
</header>