<head>
    <meta charset="utf-8">
    <meta name="vieport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-language" content="pt">
    <meta name="theme-color" content="#c0392b">
    
    {% seo %}
    
    <link rel="stylesheet" href="{{ site.github.url | prepend: site.url }}/assets/css/main.css" media="screen">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,500,400italic">
    
    <script src="https://maps.googleapis.com/maps/api/js"></script>
</head>