<section id="portfolio">
    <section class="container">
        <br><br>
        <h3 class="center light">Portfólio</h3>
        <hr class="star">
        <section class="row">
            
            <article class="col s12 l6">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img src="assets/img/portfolio/prostudio.png" alt="PROstudio" class="activator">
                    </div>
                    <div class="card-content">
                        <div class="card-title activator">
                            <a href="http://zinenda.github.io/prostudio" target="_blank">PROstudio</a>
                            <i class="fa fa-lg fa-ellipsis-v right"></i>
                        </div>
                    </div>
                    <div class="card-reveal">
                        <div class="card-title">
                            <a href="http://zinenda.github.io/prostudio" target="_blank">PROstudio</a>
                            <i class="fa fa-lg fa-close right"></i>
                        </div>
                        <p class="light">
                            Página única com transições e animações de tecnologias de ponta usadas no desenvlvimento web.
                            PROstudio é uma empresa parceira de IZTech, experts em captação e processamento de imagens, vídeos e publicidades.
                            Para aderir os seus serviços e conhecer mais acerca de seu trabalho click no link acima.
                        </p>
                    </div>
                </div>
            </article>
            
            <article class="col s12 l6">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img src="assets/img/portfolio/maningtech.png" alt="Maningtech" class="activator">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator"><a href="http://maningtech.github.io/maningtech" target="_blank">Maningtech</a> <i class="fa fa-lg fa-ellipsis-v right"></i></span>
                    </div>
                    <div class="card-reveal">
                        <div class="card-title">
                            <a href="http://maningtech.github.io/maningtech" target="_blank">Maningtech</a> <i class="fa fa-lg fa-close right"></i>
                        </div>
                        <p class="light">
                            Blog de Noticias, analíses e dicas sobre tecnologia. <br>
                            Maningtech é o primeiro blog estático 100% moçambicano. <br>
                            Manitngtech&trade; é o grupo fundado pelo mesmo desenvolvedor deste portfólio <a rel="author" href="http://fb.com/{{ site.facebook }}">{{ site.author }}</a>
                        </p>
                    </div>
                </div>
            </article>
        </section>
        
        <section class="row">
            <article class="col s12 l6">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img src="assets/img/portfolio/mulambe.png" alt="Mulambe" class="activator">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator"><a href="http://zinenda.github.io/Mulambe" target="_blank">Mulambe</a> <i class="fa fa-ellipsis-v right"></i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title"><a href="http://zinenda.github.io/Mulambe" target="_blank">Mulambe</a> <i class="fa fa-close right"></i></span>
                        <p class="light">
                            Web site fictício, simulando portfólio de um web designer.
                            Mulambe Web Solution foi desenvolvido sob o Bootstrap 3, framework CSS3 e Javascript.
                            É responsivo, mobile-first e SEO optimized.
                            Sinta se livre em apreciar o seu código-fonte.
                        </p>
                        <div class="card-action"><a href="http://github.com/Zinenda/Mulambe" target="_blank" class="center btn">Código-Fonte</a></div>
                    </div>
                </div>
            </article>      
            
            <article class="col s12 l6">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img src="assets/img/portfolio/imep.png" alt="IMEP" class="activator">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator"><a href="http://zinenda.github.io/Imep-beta" target="_blank">IMEP</a> <i class="fa fa-ellipsis-v right"></i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title"><a href="http://zinenda.github.io/Imep-beta" target="_blank">IMEP</a> <i class="fa fa-close right"></i></span>
                        <p class="light">
                            Web Site fictício: IMEP é um instituto educacional de A Politécnica, uma universidade moçambicana existente a mais de 20 anos.
                            Instituto Médio Politécnico, IMEP, a instituição a qual estudo desde 2015.
                            Este web site foi desenvolvido como um protótipo para uma exposição tecnológica.
                            NB: Este não é o website oficial da instituição, foi apenas criado para fins exclusivamente didácticos.
                            Sinta se a vontande em apreciar seu código-fonte
                        </p>
                        <div class="card-action"><a href="http://github.com/Zinenda/Imep-beta" target="_blank0" class="center btn">Código-Fonte</a></div>
                    </div>
                </div>
            </article>
        </section>
    </section><!-- container -->
</section>

<div class="parallax-container">
    <div class="parallax"><img src="assets/img/parallax/window.jpg"></div>
</div>