<!-- Web Design -->
<h4 class="light">Web Design</h4>
<hr>
<table class="striped highlight">
    <thead>
        <tr>
            <th data-field="id">Serviços</th>
            <th data-field="name">Descrição</th>
            <th data-field="price">Preços</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sites Estáticos</td>
            <td>Design e desenvolvimento de web sites HTML5+CSS3 e animações Javascript</td>
            <td>15.000 MZN</td>
        </tr>
        <tr>
            <td>Sites Dinamicos (CMS)</td>
            <td>Design e desenvolvimento de web sites dinâmicos com um painel administrativo</td>
            <td>20.000 - 30.000 MZN</td>
        </tr>
        <tr>
            <td>Logotipo e logos</td>
            <td>Design de logotipos e logos exclusivos</td>
            <td>3000 MZN - 5000 MZN</td>
        </tr>
        <tr>
            <td>Cartão de Visita</td>
            <td>Design de cartões de visita exclusivos</td>
            <td>1500 MZN</td>
        </tr>
    </tbody>
</table>