<!-- Software -->
<table class="striped highlight">
    <h4 class="light">Software</h4>
    <hr>
    <thead>
        <tr>
            <th data-field="id">Serviços</th>
            <th data-field="name">Descrição</th>
            <th data-field="price">Preços</th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <td>Diagnostico</td>
            <td>Verificação do problema e as causas</td>
            <td>200 MZN</td>
        </tr>
        <tr>
            <td>Remoção de vírus</td>
            <td>Verificação e desifectação do computador</td>
            <td>500 MZN</td>
        </tr>
        <tr>
            <td>Instalação de antivírus</td>
            <td>Instalação, ativação e atualização do antivírus, possivel desifectação inclusa.</td>
            <td>500 MZN (compra do antivirus não incluso)</td>
        </tr>
        <tr>
            <td>Correção de erros do Sistema Operativo Windows</td>
            <td>Verificação e reparação de erros de funcionamento do Windows e outros utilitários</td>
            <td>500-1000 MZN</td>
        </tr>
        <tr>
            <td>Instalação de Sistema Operativo</td>
            <td>Reinstalação, instalação, atualização ou upgrade de Sistema Windows ou Linux Ubuntu</td>
            <td>1500 MZN</td>
        </tr>
        <tr>
            <td>Instalação de Sistema Operativo + utilitários</td>
            <td>Instalação do Sistema Windows ou Linux Ubuntu e utilitários de uso básico</td>
            <td>1750 MZN</td>
        </tr>
        <tr>
            <td>Sistema Operativo + Utilitários + BackUp + Antivirus</td>
            <td>Instalação de Sistema Operativo Windows ou Linux Ubuntu + utilitários + Backup de ficheiros + Antivirus</td>
            <td>3000 MZN</td>
        </tr>
        <tr>
            <td>Microsoft Office / LibreOffice</td>
            <td>Instalação de MS Office 2010-2016 ou LibreOffice para Linux Ubuntu</td>
            <td>600 MZN - 1500 MZN</td>
        </tr>
        <tr>
            <td>Utilitários</td>
            <td>Instalação, reinstalação, desinstalação, reparação de utilitários do Windows ou Linux Ubuntu</td>
            <td>500 MZN - 1000 MZN</td>
        </tr>
        <tr>
            <td>Recuperação de Dados/Informação</td>
            <td>Recuperação de dados/informação apagados(as) acidentalmente, no computador, disco duro, flash drive, cartão SD, celular...</td>
            <td>500 MZN 1000 MZN</td>
        </tr>
        <tr>
            <td>Microsoft Windows Server 2008/2012</td>
            <td>Instalação e configuração de servidor Windows Server 2008 ou 2012</td>
            <td>10.000 MZN - 1500 MZN</td>
        </tr>
    </tbody>
</table>