<!-- hardware -->
<h4 class="light">Hardware</h4>
<hr>
<table class="striped">
    <thead>
        <tr>
            <th data-field="id">Serviços</th>
            <th data-field="name">Descrição</th>
            <th data-field="price">Preços</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Limpeza</td>
            <td>Limpeza dos componentes internos e aplicação da massa térmica</td>
            <td>500 MZN</td>
        </tr>
        <tr>
            <td>LAN</td>
            <td>Instalação de uma rede local (LAN)</td>
            <td>Negociavel desde +5000 MZN</td>
        </tr>
        <tr>
            <td>WI-FI e Configuração</td>
            <td>Configuração do roteador WI-FI</td>
            <td>1000 MZN - 2000 MZN</td>
        </tr>
        <tr>
            <td>Ponto de Rede</td>
            <td>Instalação de um ponto de rede</td>
            <td>1000 MZN - 2000 MZN</td>
        </tr>
        <tr>
            <td>Erros de Hardware</td>
            <td>Verificação e reparação de mau funcionamento de componentes do hardware, inclusive periféricos</td>
            <td>Negociavel apartir de +500 MZN</td>
        </tr>
    </tbody>
</table>