<nav class="nav-wrapper">
    <div class="container">
        <a href="{{ site.github.url | prepend: site.url }}/" class="brand-logo">{{ site.title }}</a>
        
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="http://fb.com/{{ site.facebook }}" target="_blank" class="btn-floating btn-flat">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="http://twitter.com/{{ site.twiiter.username }}" target="_blank" class="btn-floating btn-flat">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="http://github.com/{{ site.github }}" target="_blank" class="btn-floating btn-flat">
                    <i class="fa fa-github"></i>
                </a>
            </li>
        </ul>
    </div>
    <a href="#" data-activates="side-nav" class="button-collapse"><i class="fa fa-navicon"></i></a>
    
    <div class="container">
        <ul id="side-nav" class="side-nav fixed">
            <li>
                <a href="{{ site.github.url | prepend: site.url }}/"><i class="fa fa-home"></i> <b>Início</b></a>
            </li>
            <li>
                <a href="{{ site.github.url | prepend: site.url }}/#portfolio" title="Portfólio"><i class="fa fa-picture-o"></i> <b>Portfólio</b></a>
            </li>
            <li>
                <a href="{{ site.github.url | prepend: site.url }}/#servicos" title="Serviços"><i class="fa fa-suitcase"></i> <b>Serviços</b></a>
            </li>
            <li>
                <a href="{{ site.github.url | prepend: site.url }}/#sobre" title="Sobre mim"><i class="fa fa-user"></i> <b>Sobre mim</b></a>
            </li>
            <li class="active">
                <a href="/blog/" title="Meu blog"><i class="fa fa-bullhorn"></i> <b>Blog</b></a>
            </li>
        </ul>
    </div>
</nav>