<section id="sobre">
    <section class="container">
        <br><br>
        <div class="icon-block">
            <h3 class="center">
                <i class="fa fa-user"></i>
            </h3>
        </div>
        <h3 class="center light">Sobre Mim</h3>
        <hr class="star">
        
        <article class="card-panel hoverable">
            <p class="light">
                <a rel="author" href="{{ site.twiiter.username }}">{{ site.author }}</a>, estudante de informática no Instituto Médio Politécnico de Tete, A Politécnica. <br>
                Nascido aos 30 de Janeiro de 1997, em Songo, Tete, Moçambique. <br>
                Fascinado pelo desenvolvimento web desde meados de 2014. Tempo em que a web estava em passando por um atualização nas tecnologias que nelas aplicam-se.
                Desde os protocolos à linguages de marcação e programação. <br>
                A migração ao HTML5 E CSS3, a popularização dos frameworks front-end e a filosófia do Design Responsivo. <br>
                Mais Linguagens de programação a destacarem-se no desenvolvimento web, como o Ruby com o Ruby On Rails e NodeJS. <br>
                Novos conceitos de tipográfia e muito mais. A WWW estava modernizando-se. <br><br>
                Seja estudante, entidade empresarial, ou comerciante e deseja ter seu próprio portal na internet, seja pessoal ou para negócios, não exite em contactar-me: +258 848-790-215
            </p>
        </article>
    </section><!-- section container -->
</section>

<div class="parallax-container">
    <div class="parallax"><img src="assets/img/parallax/skyline.jpg" alt="Parallax"></div>
</div>