---
---

@charset "utf-8";

$primary-color: #c0392b !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;
$secondary-color: rgba(192, 57, 43,.6) !default;
$link-color: #d35400 !default;
$footer-bg-color: #000 !default;

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    font-weight: normal;
    color: #000;
    overflow-x: hidden;
}

main, section, article {
    flex: 1 0 auto;
}

header, main, footer {
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

a {
    text-decoration: none;
    color: $link-color;
    &:hover {
        text-decoration: underline;
        color: #00B5B5;
    }
}

.side-nav a:hover {
    background: $primary-color;
}

.inline-list {
    display: inline-flex;
}

.icon-block {
  padding: 0 15px;
  color: $primary-color;
}
.icon-block i {
  font-size: inherit;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
    }
}

footer.page-footer {
    margin: 0;
    color: #fff;
}

.post-header {
    background-color: $primary-color-dark;
    background-size: cover;
    height: 200px;
    
    article.container {
        background-color: #fff;
        color: #000;
    }
}

hr.star {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star {
    border-color: $primary-color;
}

hr.star:after {
    color: $primary-color-dark;
    background-color: #fff;
}


@import 
    "materialize",
    "font-awesome"
;